{
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "svelteSortOrder": "options-scripts-styles-markup",
  "svelteIndentScriptAndStyle": false
}
