@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-base-100 font-sans text-base-content;
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply bg-transparent text-sm;
}

.mockup-code > pre:before {
  @apply mr-0;
}
